<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", width: '150px' %>
      <% end %>


      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <%= link_to t('header.menu.news'), news_path, class: current_link_class(news_path) %>
        </li>
        <li>
          <%= link_to t('header.menu.study'), study_path, class: current_link_class(study_path) %>
        </li>
        <li>
          <%= link_to t('header.menu.advise'), advise_path, class: current_link_class(advise_path) %>
        </li>
        <li>
          <%= link_to t('header.menu.other'), other_path, class: current_link_class(other_path) %>
        </li>
        <li>
          <%= link_to t('header.menu.about'), about_path, class: current_link_class(about_path) %>
        </li>
      </div>
    </div>
  </div>
</header>